<h2>Initial set up instructions:</h2>
<ol>
    <li>Install Node.js. One set of instructions can be found <a href="https://github.com/nodejs/node-v0.x-archive/wiki/Installation">here</a>, while another set can be found <a href="https://nodejs.org/en/download/">here</a>.
    <li>Install dnsmasq - in Ubuntu-based distributions, it can be obtained using sudo apt-get install dnsmasq-base.
    <li>Create a file /etc/dnsmasq.conf (note: requires root) with the following:<br>
        no-hosts<br>
        addn-hosts=/etc/dnsmasq.hosts
    <li>Create a file /etc/dnsmasq.hosts (again, requires root) with the following:<sup><a href="#1">1</a></sup><br>
        10.1.59.1 api.r-sega.com<sup><a href="#2">2</a></sup>
    <li>Set up a wireless network with the following characteristics:
        <ul>
            <li>Not connected to the internet
            <li>Can include your computer and iPhone
            <li>Has the DNS server set to 10.1.59.1
            <li>Assigns your computer a set IP address of 10.1.59.1<sup><a href="#3">3</a></sup>
        </ul>
        For computers with a wireless card running Linux Mint, this can be done in the following way:
        <ol>
            <li>Open the network settings menu via Preferences -> Network Connections<br>
                <img src="./MenuNetwork.png">
            <li>Add a new network<br>
                <img src="./NetworkList.png">
            <li>Select a new Wi-fi network
            <li>On the Wi-Fi tab, select the mode as adhoc, and give the network whatever name you want.<br>
                <img src="./WifiTab.png">
            <li>On the IPv4 Settings tab, set the method to manual, the address to 10.1.59.1, the netmask to 255.255.255.0, and the DNS server to 10.1.59.1<sup><a href="#4">4</a></sup><br>
                <img src="./IPv4Tab.png">
        </ol>
    <li>Connect your iPhone to the network with the following settings:
        <ul>
            <li>Static IP address
            <li>IP address of 10.1.59.2
            <li>Subnet mask 255.255.255.0
            <li>DNS server of 10.1.59.1<sup><a href="#5">5</a></sup>
        </ul>
        <img src="./IMG_1902.PNG">
</ol>

<h2>Usage instructions:</h2>
<ol>
    <li>Connect your computer to the network set up during initial set up.    
    <li>Navigate to where you downloaded this script and run it using the terminal with sudo node server.js.
    <li>Open another terminal and run sudo dnsmasq --no-daemon --log-queries.<sup><a href="#6">6</a></sup>
    <li>Turn on airplane mode on your iPhone, then turn on wi-fi. This is necessary because we can't let the iPhone try to access the real server.
    <li>Connect your phone to the network you set up in initial set up, start the game and enjoy!
</ol>


<small id="1">1: Instructions adapted from <a href="http://blog.philippheckel.com/2013/07/18/how-to-dns-spoofing-with-a-simple-dns-server-using-dnsmasq/">here</a></small><br>
<small id="2">2: Doesn't have to be 10.1.59.1 - can be any ip address, as long as it matches the one set for the computer in the next step.</small><br>
<small id="3">3: Doesn't have to be 10.1.59.1 - can be any ip address, as long as the DNS server and computer IP match, and both match the address in the dnsmasq.hosts file.</small><br>
<small id="4">4: Again, don't need these specific settings, as long as they're consistent with the previous steps.</small><br>
<small id="5">5: Once more, the important part is consistency, not these specific settings.</small><br>
<small id="6">6: The --no-daemon and --log-queries options are not strictly necessary, but they make life easier. The sudo is required for this and the previous step, because the programs acccess restricted ports.</small><br>
